
@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

body{
    font-family: Futura, Roboto, Arial;
    background-image: url(../images/background.jpeg);
    background-position: center;    
    background-size: cover;
    width: 100%;
    height: auto;
}

h2{
    font-size: 9rem;
    font-weight: bold;
    margin-block-end: 0.23em;
}


.head_link{
    text-decoration: none;
    color: #BB0000;
}

.header{
    border-radius: 50%;
    font-family: Futura, Roboto;
    opacity: 0;
    transition: all 1s;
}

.header:hover{
    opacity: 1;
    color: #BB0000;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}

.header{
    
}

.countdown{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
    color: #f0f6e3 ;
    
}

.day,
.hour,
.minute,
.second{
    font-size: 3rem;
}

















ul{
    list-style: none;
    padding-inline-start: 0px;
}

.list{
    display: flex;
    opacity: 0.8;
}

.list__item + .list__item{
    margin-left: 30px;
}

.list__link{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background .3s;
    

}
.list__link:hover{
    background-color: #BB0000;
}

svg path{
    fill: #c2cfa1;
}

